body {
	margin: 0;
}
img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
.link_container {
	display: flex;
}
.link {
	flex: 1;
	text-align: center;
	border: 1px solid black;
	padding: 20px;
}
main {
	display: flex;
}
.vertical_links {
	flex: 1;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.vertical_link {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	flex: 1;
}
.all_content {
	flex: 6;
}
.content_0 {
	width: 50%;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
} 
.content_1 {
	display: flex;
	margin: 20px 0 20px 5px;
}
.title {
	flex: 1;
	border: 1px solid black;
	text-align: center;
	margin-right: 20px; 
}
.content_2 {
	display: flex;
	margin: 0 0 20px 5px;
}
.element_1 {
	display: flex;
	flex: 1;
	border: 1px solid black;
	margin-right: 20px; 
}
.for_element {
	flex: 1;
}
.element_2 {
	flex: 1;
	display: flex;
}
.element {
	border: 1px solid black;
	flex: 1;
	margin-right: 20px; 
}
.content_3 {
	display: flex;
	margin: 0 0 20px 5px;
}
.content_4 {
	display: flex;
	margin: 0 0 0 5px;
}
.element_4_1 {
	display: flex;
	flex-direction: row;
	flex: 1; 
	margin-right: 20px;
}
.tall_element_1 {
	border: 1px solid black;
	flex: 1;
}
.tall_element_2 {
	display: flex;
	border: 1px solid black;
	flex: 1;
}
.element_4_2 {
	display:flex;
	flex-direction: column;
	flex: 1;
}
.large_element_1 {
	border: 1px solid black;
	flex: 1;
	margin-bottom: 20px;
}
.large_element_2 {
	border: 1px solid black;
	flex: 1;
}
footer {
	padding: 20px;
	text-align: center;
	border: 1px solid black;
}

.title:last-child {
	margin-right: 0;
}
.margin-right_none {
	margin-right: 0;
}
.left {
	margin-left: 20px;
}
.left_border_none {
	border-left: 0;
}