header {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    text-align: center;
}
body {
    margin: 0;
    margin-top: 35px;
}

footer {
    margin: 0;
    border: 3px solid black;
    display: none;
}
.h1 {
    font-size: 50px;
    margin: 0px;
    /*border: 3px solid black;*/
}


ul{
    list-style-type: none;
    background-color: #ecfcff;
    border: 3px solid black;
    border-radius: 10%;
    box-shadow:
    padding: 30px;
    margin: 20px;
    width: 400px;
    height: auto;
}
ul a{
    color: #3e64ff;
    text-decoration: none;
}
ul:first-child {
/*    color: red;*/
}
li {
    font-size: 25px;
    font-color: black;
}



header {
    font-size: 20px;
    background: #0b5caf;
    margin: 0;
}
header a{
    color: white;
    text-decoration: none;
    margin: 0;
}
header a:hover{
    color: #11a8ff;
}


footer a{
    color: #3e64ff;
    text-decoration: none;
}

.first-line::first-line {
    color: blue;
}

a:hover{
    color: red;
}

.black{
    font-color: black;
}
img {
    width: 50%;
    height: auto;
    /*border: 3px solid black;*/
}


#client_contact, #number {
    padding: 0 0 0 16px;
}

.up {
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    position: fixed;
    margin-right: 100px;
    margin-bottom: 100px;
}
.first-letter::first-letter {
    color: red;
}
/*Если необходимо использовать текст в бефор или афтер, тогда нужно
использовать свойство контент - это изображения и абсолютно любой текст
ховер и эктив используем часто, т.к их можно использовать с контентом и ссылками
пока не дойдем до js не нужно использовать псевдоэлементы:
начиная с оптионал не используем псевдоэлементы
крутой тип для подсветки элемента - таргет
в таблице стилизуем сам ряд целиком
С пробелом псевдокласс используется
сам тр - первый дочерний
Вложенный селлекктор:
нужно знать, как происходит вложение элементов, но злоупотреблять нельзя
на часто используемые стили используем отдельный css*/