/*
body {
    position: relative;
}
body {
    margin: 0;
    width: 800px;
    height: 200px;
}
.buy {
    margin: 0;
    width: 800px;
    height: 200px;
    position: absolute;
    background-color: grey;
    top: 0;
    left: 0;
    */
/*display: none;*//*

    opacity: 0;
}
body:hover p.buy{
    opacity: 1;
}
.opacity {
    opacity: 10%;
}
*/
/*Прикол  том, что мы идем к дочернему, через родителя, ака
parent: hower .children{
что-либо применяем
}*/

.block {
    height: 300px;
    background-attachment: fixed;
    background-image: url(fotos/pdjZ_tUwWJg.jpg);
}
